.content {
    display: block !important;
}
.content .oldMan {
    width: 100%;
}
.content .oldMan table tr th {
    font-size: 12px !important;
}
.content .oldMan table tr td {
    font-size: 12px !important;
}
.content .oldMan table tbody tr td {
}
.content .oldMan table tbody tr td button {
    margin: 0px 5px;
}
.layui-laypage span {
    background: none !important;
}
