/*弹出层样式*/
.popup {
    padding: 10px 20px;
}
.popup h5 {
    display: block;
    width: 100%;
    height: 35px;
    padding-left: 15px;
    line-height: 35px;
    margin-bottom: 0px;
}
.popup table tbody tr:nth-child(odd) {
}
.popup table tbody tr td {
    font-size: 13px;
}
.popup table tbody tr td img {
    width: 80px;
    margin: 0 auto;
}
/*编辑时的表单样式*/
.popup table tbody tr td input {
    width: 100%;
    height: 22px;
}
.layui-upload-button {
    display: block;
}
.popup table tbody tr td select {
    width: 100%;
    height: 22px;
}
.popup table tbody tr td select option {
    width: 100%;
    height: 22px;
}

