<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idea.cjyl.food.web.dao.DishesMapper" >
  <resultMap id="BaseResultMap" type="com.idea.cjyl.food.web.domain.pojo.Dishes" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="dishes_name" property="dishesName" jdbcType="VARCHAR" />
    <result column="dishes_taste" property="dishesTaste" jdbcType="VARCHAR" />
    <result column="dishes_allergen" property="dishesAllergen" jdbcType="VARCHAR" />
    <result column="dishes_suit_people" property="dishesSuitPeople" jdbcType="VARCHAR" />
    <result column="dishes_weight" property="dishesWeight" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.idea.cjyl.food.web.domain.pojo.Dishes" extends="BaseResultMap" >
    <result column="dishes_nutritive_value" property="dishesNutritiveValue" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, dishes_name, dishes_taste, dishes_allergen, dishes_suit_people, dishes_weight
  </sql>
  <sql id="Blob_Column_List" >
    dishes_nutritive_value
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.idea.cjyl.food.web.domain.pojo.DishesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ys_dishes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.idea.cjyl.food.web.domain.pojo.DishesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ys_dishes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ys_dishes
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ys_dishes
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.idea.cjyl.food.web.domain.pojo.DishesExample" >
    delete from ys_dishes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.idea.cjyl.food.web.domain.pojo.Dishes" useGeneratedKeys="true" keyProperty="id" >
    insert into ys_dishes (dishes_name, dishes_taste, dishes_allergen, 
      dishes_suit_people, dishes_weight, dishes_nutritive_value
      )
    values (#{dishesName,jdbcType=VARCHAR}, #{dishesTaste,jdbcType=VARCHAR}, #{dishesAllergen,jdbcType=VARCHAR}, 
      #{dishesSuitPeople,jdbcType=VARCHAR}, #{dishesWeight,jdbcType=TINYINT}, #{dishesNutritiveValue,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.idea.cjyl.food.web.domain.pojo.Dishes" useGeneratedKeys="true" keyProperty="id" >
    insert into ys_dishes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dishesName != null" >
        dishes_name,
      </if>
      <if test="dishesTaste != null" >
        dishes_taste,
      </if>
      <if test="dishesAllergen != null" >
        dishes_allergen,
      </if>
      <if test="dishesSuitPeople != null" >
        dishes_suit_people,
      </if>
      <if test="dishesWeight != null" >
        dishes_weight,
      </if>
      <if test="dishesNutritiveValue != null" >
        dishes_nutritive_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dishesName != null" >
        #{dishesName,jdbcType=VARCHAR},
      </if>
      <if test="dishesTaste != null" >
        #{dishesTaste,jdbcType=VARCHAR},
      </if>
      <if test="dishesAllergen != null" >
        #{dishesAllergen,jdbcType=VARCHAR},
      </if>
      <if test="dishesSuitPeople != null" >
        #{dishesSuitPeople,jdbcType=VARCHAR},
      </if>
      <if test="dishesWeight != null" >
        #{dishesWeight,jdbcType=TINYINT},
      </if>
      <if test="dishesNutritiveValue != null" >
        #{dishesNutritiveValue,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.idea.cjyl.food.web.domain.pojo.DishesExample" resultType="java.lang.Integer" >
    select count(*) from ys_dishes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ys_dishes
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.dishesName != null" >
        dishes_name = #{record.dishesName,jdbcType=VARCHAR},
      </if>
      <if test="record.dishesTaste != null" >
        dishes_taste = #{record.dishesTaste,jdbcType=VARCHAR},
      </if>
      <if test="record.dishesAllergen != null" >
        dishes_allergen = #{record.dishesAllergen,jdbcType=VARCHAR},
      </if>
      <if test="record.dishesSuitPeople != null" >
        dishes_suit_people = #{record.dishesSuitPeople,jdbcType=VARCHAR},
      </if>
      <if test="record.dishesWeight != null" >
        dishes_weight = #{record.dishesWeight,jdbcType=TINYINT},
      </if>
      <if test="record.dishesNutritiveValue != null" >
        dishes_nutritive_value = #{record.dishesNutritiveValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update ys_dishes
    set id = #{record.id,jdbcType=BIGINT},
      dishes_name = #{record.dishesName,jdbcType=VARCHAR},
      dishes_taste = #{record.dishesTaste,jdbcType=VARCHAR},
      dishes_allergen = #{record.dishesAllergen,jdbcType=VARCHAR},
      dishes_suit_people = #{record.dishesSuitPeople,jdbcType=VARCHAR},
      dishes_weight = #{record.dishesWeight,jdbcType=TINYINT},
      dishes_nutritive_value = #{record.dishesNutritiveValue,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ys_dishes
    set id = #{record.id,jdbcType=BIGINT},
      dishes_name = #{record.dishesName,jdbcType=VARCHAR},
      dishes_taste = #{record.dishesTaste,jdbcType=VARCHAR},
      dishes_allergen = #{record.dishesAllergen,jdbcType=VARCHAR},
      dishes_suit_people = #{record.dishesSuitPeople,jdbcType=VARCHAR},
      dishes_weight = #{record.dishesWeight,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.idea.cjyl.food.web.domain.pojo.Dishes" >
    update ys_dishes
    <set >
      <if test="dishesName != null" >
        dishes_name = #{dishesName,jdbcType=VARCHAR},
      </if>
      <if test="dishesTaste != null" >
        dishes_taste = #{dishesTaste,jdbcType=VARCHAR},
      </if>
      <if test="dishesAllergen != null" >
        dishes_allergen = #{dishesAllergen,jdbcType=VARCHAR},
      </if>
      <if test="dishesSuitPeople != null" >
        dishes_suit_people = #{dishesSuitPeople,jdbcType=VARCHAR},
      </if>
      <if test="dishesWeight != null" >
        dishes_weight = #{dishesWeight,jdbcType=TINYINT},
      </if>
      <if test="dishesNutritiveValue != null" >
        dishes_nutritive_value = #{dishesNutritiveValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.idea.cjyl.food.web.domain.pojo.Dishes" >
    update ys_dishes
    set dishes_name = #{dishesName,jdbcType=VARCHAR},
      dishes_taste = #{dishesTaste,jdbcType=VARCHAR},
      dishes_allergen = #{dishesAllergen,jdbcType=VARCHAR},
      dishes_suit_people = #{dishesSuitPeople,jdbcType=VARCHAR},
      dishes_weight = #{dishesWeight,jdbcType=TINYINT},
      dishes_nutritive_value = #{dishesNutritiveValue,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.idea.cjyl.food.web.domain.pojo.Dishes" >
    update ys_dishes
    set dishes_name = #{dishesName,jdbcType=VARCHAR},
      dishes_taste = #{dishesTaste,jdbcType=VARCHAR},
      dishes_allergen = #{dishesAllergen,jdbcType=VARCHAR},
      dishes_suit_people = #{dishesSuitPeople,jdbcType=VARCHAR},
      dishes_weight = #{dishesWeight,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>