<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idea.cjyl.food.web.dao.NutrimentMapper" >
  <resultMap id="BaseResultMap" type="com.idea.cjyl.food.web.domain.pojo.Nutriment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="nutriment_name" property="nutrimentName" jdbcType="VARCHAR" />
    <result column="nutriment_level" property="nutrimentLevel" jdbcType="TINYINT" />
    <result column="tid" property="tid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, nutriment_name, nutriment_level, tid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.idea.cjyl.food.web.domain.pojo.NutrimentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ys_nutriment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ys_nutriment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ys_nutriment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.idea.cjyl.food.web.domain.pojo.NutrimentExample" >
    delete from ys_nutriment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.idea.cjyl.food.web.domain.pojo.Nutriment" useGeneratedKeys="true" keyProperty="id" >
    insert into ys_nutriment (nutriment_name, nutriment_level, tid
      )
    values (#{nutrimentName,jdbcType=VARCHAR}, #{nutrimentLevel,jdbcType=TINYINT}, #{tid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.idea.cjyl.food.web.domain.pojo.Nutriment" useGeneratedKeys="true" keyProperty="id" >
    insert into ys_nutriment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="nutrimentName != null" >
        nutriment_name,
      </if>
      <if test="nutrimentLevel != null" >
        nutriment_level,
      </if>
      <if test="tid != null" >
        tid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="nutrimentName != null" >
        #{nutrimentName,jdbcType=VARCHAR},
      </if>
      <if test="nutrimentLevel != null" >
        #{nutrimentLevel,jdbcType=TINYINT},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.idea.cjyl.food.web.domain.pojo.NutrimentExample" resultType="java.lang.Integer" >
    select count(*) from ys_nutriment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ys_nutriment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.nutrimentName != null" >
        nutriment_name = #{record.nutrimentName,jdbcType=VARCHAR},
      </if>
      <if test="record.nutrimentLevel != null" >
        nutriment_level = #{record.nutrimentLevel,jdbcType=TINYINT},
      </if>
      <if test="record.tid != null" >
        tid = #{record.tid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ys_nutriment
    set id = #{record.id,jdbcType=BIGINT},
      nutriment_name = #{record.nutrimentName,jdbcType=VARCHAR},
      nutriment_level = #{record.nutrimentLevel,jdbcType=TINYINT},
      tid = #{record.tid,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.idea.cjyl.food.web.domain.pojo.Nutriment" >
    update ys_nutriment
    <set >
      <if test="nutrimentName != null" >
        nutriment_name = #{nutrimentName,jdbcType=VARCHAR},
      </if>
      <if test="nutrimentLevel != null" >
        nutriment_level = #{nutrimentLevel,jdbcType=TINYINT},
      </if>
      <if test="tid != null" >
        tid = #{tid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.idea.cjyl.food.web.domain.pojo.Nutriment" >
    update ys_nutriment
    set nutriment_name = #{nutrimentName,jdbcType=VARCHAR},
      nutriment_level = #{nutrimentLevel,jdbcType=TINYINT},
      tid = #{tid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>