/*总样式*/
.box_color{
    background:rgba(48, 65, 96, 0.8);
}
/*按钮颜色*/
.btn_color{
    color:#fff;
    background:#8bb4e7;
}
.btn_color:hover{
    color:#676767;
}

/*登陆按钮*/
.btn-sm{
    background:rgba(48, 65, 96, 0.8);
    color:#fff;
}
.btn-sm:hover{
    background: rgba(27, 52, 96, 0.8);
}

/*index*/
/*头部logo*/
#head-body #head-banner #logo{
    color: #fff;
}
/*头部天气*/
#head-banner #weather{
    background-color: #273C5A;
    border: 1px solid #22324B;
    color: #fff;
}
/*头部用户信息*/
#head-banner #user-mess{
    color: #fff;
}
#user-mess #staff-mess-num{
    background-color: red;
}
#user-mess #user-picture{
    background-color: #000000;
}
/*头部设置*/
#setUp #setUp-font{
    color: #fff;
}
/*头部用户下拉菜单*/
#user-select{
    background-color: rgba(41,62,105,0.3);
}
#user-select #no-look-num{
    color: #a1a1a1;
}
#user-select li{
    color:#fff;
}
#user-select li:hover{
    background-color: #293E69;
}
/*中间内容*/
#center #side{
    color: #fff;
}

/*侧边栏样式*/
#side .accordion .link{
    background-color:rgba(0,0,0,0.1) ;
}
#side .accordion .link:hover{
    background-color:rgba(0,0,0,0.2) ;
}
#side .accordion .submenu{
    background-color:rgba(0,0,0,0.4) ;
}
#side .accordion .submenu li:hover{
    background-color:rgba(0,0,0,0.1) ;
}
/*主题内容区域*/

#main-page .main-show{
    background-color: #f5f5f5;
}
#main-page .main-show::before{
    border-color: #f5f5f5 rgba(41,62,105, 0.8);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
}
#main-show .title-border{
    background-color: #F5F5F5;
    border-bottom: 1px solid #a1a1a1;
    color: #AFB6C0;
}
#main-show .title-border .title-border-left{
    border-right: 1px dashed  #a1a1a1;
}
#main-show .title-border .title-border-right{
    color: #a1a1a1;
}
.title-border-right li a{
    color: #a1a1a1;
}
.title-border-right li a:hover{
    color: #f0ad4e;
}
#foot{
    color: #fff;
}

/*login*/
#main-body{
}
#main-body #main-login{
}
#main-login label{
}
#main-login label.error{
    color: #428BCA;
}
#main-login #login-title{
    background-color: #314464;
    color: #fff;
}
#main-login #login-title span{
    background-color: #27354F;
}
#main-login #login-input{
    background-color: #fff;
}
#main-login #login-input li {
}
#main-login #login-input span{
    color: grey;
}
#main-login #login-input input[type="text"],#login-input input[type="password"]{
    border: 1px solid #a1a1a1;
}
#main-login #login-input input[type="text"]:hover{
}
#main-login #login-input input[type="button"]{
    background-color: #428BCA;
    color: #fff;
}
#main-login #login-input input:focus{
    border: 1px solid #428BCA;
    box-shadow: 0 0 3px #428BCA;
}
/*数据字典*/
.content .content-left{
    background-color: #f0ad4e;
}
.content .content-left li{
}
.content .content-right{
    background-color: #2E2D3C;
}
.content .data-label{
    background-color: #a0a3a3;
    color: #fff;
}
.data-label .data-del{
    background-color: #000000;
}
.data-label:hover > .data-del{
}
/*content内容区域背景颜色*/
.contentbg{
    background-color: #2E2D3C;
}

/*弹出层颜色*/
.popup h5{
    background:#f5f8fd;
    border-left:5px #8bb4e7 solid;
}
.popup table tbody tr td{
    border:1px #e5eff6 solid;
}
.popup table tbody tr .blue{
    color:#67809f;
}
.popup table tbody tr:nth-child(odd){
    background:#fcfcfc;
}
.layui-layer-btn .layui-layer-btn0{
    border-color: #8bb4e7 !important;
    background-color: #8bb4e7 !important;
    color: #fff !important;
}
/*分页颜色*/
.layui-laypage .layui-laypage-curr .layui-laypage-em{
 background-color: #8bb4e7;
    /*009688*/
}

/*老人信息*/
/*基本信息*/
.content .inquiry{border-bottom:1px #333 solid;}

/*订单管理*/
/*乙方资源信息*/
.content .resource .box .resource_one {
    border:1px #8bb4e7 solid;
    background:#fff;
}