<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idea.cjyl.totalmodule.web.dao.OlderMapper" >
  <resultMap id="BaseResultMap" type="com.idea.cjyl.totalmodule.web.domain.pojo.Older" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="organization_login_id" property="organizationLoginId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="BIGINT" />
    <result column="check_in_date" property="checkInDate" jdbcType="TIMESTAMP" />
    <result column="card_id" property="cardId" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="month_charge_id" property="monthChargeId" jdbcType="BIGINT" />
    <result column="census_register" property="censusRegister" jdbcType="VARCHAR" />
    <result column="belief" property="belief" jdbcType="BIGINT" />
    <result column="nation" property="nation" jdbcType="BIGINT" />
    <result column="politics_status" property="politicsStatus" jdbcType="BIGINT" />
    <result column="self_ingredient" property="selfIngredient" jdbcType="BIGINT" />
    <result column="take_care_of_oneself" property="takeCareOfOneself" jdbcType="BIGINT" />
    <result column="mind" property="mind" jdbcType="BIGINT" />
    <result column="pluse" property="pluse" jdbcType="VARCHAR" />
    <result column="blood_pressure" property="bloodPressure" jdbcType="VARCHAR" />
    <result column="allergic_drug" property="allergicDrug" jdbcType="VARCHAR" />
    <result column="indication_hospital" property="indicationHospital" jdbcType="VARCHAR" />
    <result column="indication_doctor" property="indicationDoctor" jdbcType="VARCHAR" />
    <result column="principal_disease" property="principalDisease" jdbcType="VARCHAR" />
    <result column="diseases_history" property="diseasesHistory" jdbcType="VARCHAR" />
    <result column="hospital_tel" property="hospitalTel" jdbcType="VARCHAR" />
    <result column="diet_characteristics" property="dietCharacteristics" jdbcType="VARCHAR" />
    <result column="disposition" property="disposition" jdbcType="VARCHAR" />
    <result column="hobby" property="hobby" jdbcType="VARCHAR" />
    <result column="special_requirements" property="specialRequirements" jdbcType="VARCHAR" />
    <result column="abnormal_patterns" property="abnormalPatterns" jdbcType="VARCHAR" />
    <result column="older_state" property="olderState" jdbcType="TINYINT" />
    <result column="older_leave_date" property="olderLeaveDate" jdbcType="TIMESTAMP" />
    <result column="staff_id" property="staffId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, organization_login_id, name, sex, check_in_date, card_id, birthday, tel, month_charge_id, 
    census_register, belief, nation, politics_status, self_ingredient, take_care_of_oneself, 
    mind, pluse, blood_pressure, allergic_drug, indication_hospital, indication_doctor, 
    principal_disease, diseases_history, hospital_tel, diet_characteristics, disposition, 
    hobby, special_requirements, abnormal_patterns, older_state, older_leave_date, staff_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.idea.cjyl.totalmodule.web.domain.pojo.OlderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from older
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from older
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from older
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.idea.cjyl.totalmodule.web.domain.pojo.OlderExample" >
    delete from older
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.idea.cjyl.totalmodule.web.domain.pojo.Older" useGeneratedKeys="true" keyProperty="id" >
    insert into older (organization_login_id, name, sex, 
      check_in_date, card_id, birthday, 
      tel, month_charge_id, census_register, 
      belief, nation, politics_status, 
      self_ingredient, take_care_of_oneself, mind, 
      pluse, blood_pressure, allergic_drug, 
      indication_hospital, indication_doctor, principal_disease, 
      diseases_history, hospital_tel, diet_characteristics, 
      disposition, hobby, special_requirements, 
      abnormal_patterns, older_state, older_leave_date, 
      staff_id)
    values (#{organizationLoginId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=BIGINT}, 
      #{checkInDate,jdbcType=TIMESTAMP}, #{cardId,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, 
      #{tel,jdbcType=VARCHAR}, #{monthChargeId,jdbcType=BIGINT}, #{censusRegister,jdbcType=VARCHAR}, 
      #{belief,jdbcType=BIGINT}, #{nation,jdbcType=BIGINT}, #{politicsStatus,jdbcType=BIGINT}, 
      #{selfIngredient,jdbcType=BIGINT}, #{takeCareOfOneself,jdbcType=BIGINT}, #{mind,jdbcType=BIGINT}, 
      #{pluse,jdbcType=VARCHAR}, #{bloodPressure,jdbcType=VARCHAR}, #{allergicDrug,jdbcType=VARCHAR}, 
      #{indicationHospital,jdbcType=VARCHAR}, #{indicationDoctor,jdbcType=VARCHAR}, #{principalDisease,jdbcType=VARCHAR}, 
      #{diseasesHistory,jdbcType=VARCHAR}, #{hospitalTel,jdbcType=VARCHAR}, #{dietCharacteristics,jdbcType=VARCHAR}, 
      #{disposition,jdbcType=VARCHAR}, #{hobby,jdbcType=VARCHAR}, #{specialRequirements,jdbcType=VARCHAR}, 
      #{abnormalPatterns,jdbcType=VARCHAR}, #{olderState,jdbcType=TINYINT}, #{olderLeaveDate,jdbcType=TIMESTAMP}, 
      #{staffId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.idea.cjyl.totalmodule.web.domain.pojo.Older" useGeneratedKeys="true" keyProperty="id" >
    insert into older
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="organizationLoginId != null" >
        organization_login_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="checkInDate != null" >
        check_in_date,
      </if>
      <if test="cardId != null" >
        card_id,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="monthChargeId != null" >
        month_charge_id,
      </if>
      <if test="censusRegister != null" >
        census_register,
      </if>
      <if test="belief != null" >
        belief,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="politicsStatus != null" >
        politics_status,
      </if>
      <if test="selfIngredient != null" >
        self_ingredient,
      </if>
      <if test="takeCareOfOneself != null" >
        take_care_of_oneself,
      </if>
      <if test="mind != null" >
        mind,
      </if>
      <if test="pluse != null" >
        pluse,
      </if>
      <if test="bloodPressure != null" >
        blood_pressure,
      </if>
      <if test="allergicDrug != null" >
        allergic_drug,
      </if>
      <if test="indicationHospital != null" >
        indication_hospital,
      </if>
      <if test="indicationDoctor != null" >
        indication_doctor,
      </if>
      <if test="principalDisease != null" >
        principal_disease,
      </if>
      <if test="diseasesHistory != null" >
        diseases_history,
      </if>
      <if test="hospitalTel != null" >
        hospital_tel,
      </if>
      <if test="dietCharacteristics != null" >
        diet_characteristics,
      </if>
      <if test="disposition != null" >
        disposition,
      </if>
      <if test="hobby != null" >
        hobby,
      </if>
      <if test="specialRequirements != null" >
        special_requirements,
      </if>
      <if test="abnormalPatterns != null" >
        abnormal_patterns,
      </if>
      <if test="olderState != null" >
        older_state,
      </if>
      <if test="olderLeaveDate != null" >
        older_leave_date,
      </if>
      <if test="staffId != null" >
        staff_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="organizationLoginId != null" >
        #{organizationLoginId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=BIGINT},
      </if>
      <if test="checkInDate != null" >
        #{checkInDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cardId != null" >
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="monthChargeId != null" >
        #{monthChargeId,jdbcType=BIGINT},
      </if>
      <if test="censusRegister != null" >
        #{censusRegister,jdbcType=VARCHAR},
      </if>
      <if test="belief != null" >
        #{belief,jdbcType=BIGINT},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=BIGINT},
      </if>
      <if test="politicsStatus != null" >
        #{politicsStatus,jdbcType=BIGINT},
      </if>
      <if test="selfIngredient != null" >
        #{selfIngredient,jdbcType=BIGINT},
      </if>
      <if test="takeCareOfOneself != null" >
        #{takeCareOfOneself,jdbcType=BIGINT},
      </if>
      <if test="mind != null" >
        #{mind,jdbcType=BIGINT},
      </if>
      <if test="pluse != null" >
        #{pluse,jdbcType=VARCHAR},
      </if>
      <if test="bloodPressure != null" >
        #{bloodPressure,jdbcType=VARCHAR},
      </if>
      <if test="allergicDrug != null" >
        #{allergicDrug,jdbcType=VARCHAR},
      </if>
      <if test="indicationHospital != null" >
        #{indicationHospital,jdbcType=VARCHAR},
      </if>
      <if test="indicationDoctor != null" >
        #{indicationDoctor,jdbcType=VARCHAR},
      </if>
      <if test="principalDisease != null" >
        #{principalDisease,jdbcType=VARCHAR},
      </if>
      <if test="diseasesHistory != null" >
        #{diseasesHistory,jdbcType=VARCHAR},
      </if>
      <if test="hospitalTel != null" >
        #{hospitalTel,jdbcType=VARCHAR},
      </if>
      <if test="dietCharacteristics != null" >
        #{dietCharacteristics,jdbcType=VARCHAR},
      </if>
      <if test="disposition != null" >
        #{disposition,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null" >
        #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="specialRequirements != null" >
        #{specialRequirements,jdbcType=VARCHAR},
      </if>
      <if test="abnormalPatterns != null" >
        #{abnormalPatterns,jdbcType=VARCHAR},
      </if>
      <if test="olderState != null" >
        #{olderState,jdbcType=TINYINT},
      </if>
      <if test="olderLeaveDate != null" >
        #{olderLeaveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.idea.cjyl.totalmodule.web.domain.pojo.OlderExample" resultType="java.lang.Integer" >
    select count(*) from older
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update older
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.organizationLoginId != null" >
        organization_login_id = #{record.organizationLoginId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=BIGINT},
      </if>
      <if test="record.checkInDate != null" >
        check_in_date = #{record.checkInDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cardId != null" >
        card_id = #{record.cardId,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tel != null" >
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.monthChargeId != null" >
        month_charge_id = #{record.monthChargeId,jdbcType=BIGINT},
      </if>
      <if test="record.censusRegister != null" >
        census_register = #{record.censusRegister,jdbcType=VARCHAR},
      </if>
      <if test="record.belief != null" >
        belief = #{record.belief,jdbcType=BIGINT},
      </if>
      <if test="record.nation != null" >
        nation = #{record.nation,jdbcType=BIGINT},
      </if>
      <if test="record.politicsStatus != null" >
        politics_status = #{record.politicsStatus,jdbcType=BIGINT},
      </if>
      <if test="record.selfIngredient != null" >
        self_ingredient = #{record.selfIngredient,jdbcType=BIGINT},
      </if>
      <if test="record.takeCareOfOneself != null" >
        take_care_of_oneself = #{record.takeCareOfOneself,jdbcType=BIGINT},
      </if>
      <if test="record.mind != null" >
        mind = #{record.mind,jdbcType=BIGINT},
      </if>
      <if test="record.pluse != null" >
        pluse = #{record.pluse,jdbcType=VARCHAR},
      </if>
      <if test="record.bloodPressure != null" >
        blood_pressure = #{record.bloodPressure,jdbcType=VARCHAR},
      </if>
      <if test="record.allergicDrug != null" >
        allergic_drug = #{record.allergicDrug,jdbcType=VARCHAR},
      </if>
      <if test="record.indicationHospital != null" >
        indication_hospital = #{record.indicationHospital,jdbcType=VARCHAR},
      </if>
      <if test="record.indicationDoctor != null" >
        indication_doctor = #{record.indicationDoctor,jdbcType=VARCHAR},
      </if>
      <if test="record.principalDisease != null" >
        principal_disease = #{record.principalDisease,jdbcType=VARCHAR},
      </if>
      <if test="record.diseasesHistory != null" >
        diseases_history = #{record.diseasesHistory,jdbcType=VARCHAR},
      </if>
      <if test="record.hospitalTel != null" >
        hospital_tel = #{record.hospitalTel,jdbcType=VARCHAR},
      </if>
      <if test="record.dietCharacteristics != null" >
        diet_characteristics = #{record.dietCharacteristics,jdbcType=VARCHAR},
      </if>
      <if test="record.disposition != null" >
        disposition = #{record.disposition,jdbcType=VARCHAR},
      </if>
      <if test="record.hobby != null" >
        hobby = #{record.hobby,jdbcType=VARCHAR},
      </if>
      <if test="record.specialRequirements != null" >
        special_requirements = #{record.specialRequirements,jdbcType=VARCHAR},
      </if>
      <if test="record.abnormalPatterns != null" >
        abnormal_patterns = #{record.abnormalPatterns,jdbcType=VARCHAR},
      </if>
      <if test="record.olderState != null" >
        older_state = #{record.olderState,jdbcType=TINYINT},
      </if>
      <if test="record.olderLeaveDate != null" >
        older_leave_date = #{record.olderLeaveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.staffId != null" >
        staff_id = #{record.staffId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update older
    set id = #{record.id,jdbcType=BIGINT},
      organization_login_id = #{record.organizationLoginId,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=BIGINT},
      check_in_date = #{record.checkInDate,jdbcType=TIMESTAMP},
      card_id = #{record.cardId,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=TIMESTAMP},
      tel = #{record.tel,jdbcType=VARCHAR},
      month_charge_id = #{record.monthChargeId,jdbcType=BIGINT},
      census_register = #{record.censusRegister,jdbcType=VARCHAR},
      belief = #{record.belief,jdbcType=BIGINT},
      nation = #{record.nation,jdbcType=BIGINT},
      politics_status = #{record.politicsStatus,jdbcType=BIGINT},
      self_ingredient = #{record.selfIngredient,jdbcType=BIGINT},
      take_care_of_oneself = #{record.takeCareOfOneself,jdbcType=BIGINT},
      mind = #{record.mind,jdbcType=BIGINT},
      pluse = #{record.pluse,jdbcType=VARCHAR},
      blood_pressure = #{record.bloodPressure,jdbcType=VARCHAR},
      allergic_drug = #{record.allergicDrug,jdbcType=VARCHAR},
      indication_hospital = #{record.indicationHospital,jdbcType=VARCHAR},
      indication_doctor = #{record.indicationDoctor,jdbcType=VARCHAR},
      principal_disease = #{record.principalDisease,jdbcType=VARCHAR},
      diseases_history = #{record.diseasesHistory,jdbcType=VARCHAR},
      hospital_tel = #{record.hospitalTel,jdbcType=VARCHAR},
      diet_characteristics = #{record.dietCharacteristics,jdbcType=VARCHAR},
      disposition = #{record.disposition,jdbcType=VARCHAR},
      hobby = #{record.hobby,jdbcType=VARCHAR},
      special_requirements = #{record.specialRequirements,jdbcType=VARCHAR},
      abnormal_patterns = #{record.abnormalPatterns,jdbcType=VARCHAR},
      older_state = #{record.olderState,jdbcType=TINYINT},
      older_leave_date = #{record.olderLeaveDate,jdbcType=TIMESTAMP},
      staff_id = #{record.staffId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.idea.cjyl.totalmodule.web.domain.pojo.Older" >
    update older
    <set >
      <if test="organizationLoginId != null" >
        organization_login_id = #{organizationLoginId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=BIGINT},
      </if>
      <if test="checkInDate != null" >
        check_in_date = #{checkInDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cardId != null" >
        card_id = #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="monthChargeId != null" >
        month_charge_id = #{monthChargeId,jdbcType=BIGINT},
      </if>
      <if test="censusRegister != null" >
        census_register = #{censusRegister,jdbcType=VARCHAR},
      </if>
      <if test="belief != null" >
        belief = #{belief,jdbcType=BIGINT},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=BIGINT},
      </if>
      <if test="politicsStatus != null" >
        politics_status = #{politicsStatus,jdbcType=BIGINT},
      </if>
      <if test="selfIngredient != null" >
        self_ingredient = #{selfIngredient,jdbcType=BIGINT},
      </if>
      <if test="takeCareOfOneself != null" >
        take_care_of_oneself = #{takeCareOfOneself,jdbcType=BIGINT},
      </if>
      <if test="mind != null" >
        mind = #{mind,jdbcType=BIGINT},
      </if>
      <if test="pluse != null" >
        pluse = #{pluse,jdbcType=VARCHAR},
      </if>
      <if test="bloodPressure != null" >
        blood_pressure = #{bloodPressure,jdbcType=VARCHAR},
      </if>
      <if test="allergicDrug != null" >
        allergic_drug = #{allergicDrug,jdbcType=VARCHAR},
      </if>
      <if test="indicationHospital != null" >
        indication_hospital = #{indicationHospital,jdbcType=VARCHAR},
      </if>
      <if test="indicationDoctor != null" >
        indication_doctor = #{indicationDoctor,jdbcType=VARCHAR},
      </if>
      <if test="principalDisease != null" >
        principal_disease = #{principalDisease,jdbcType=VARCHAR},
      </if>
      <if test="diseasesHistory != null" >
        diseases_history = #{diseasesHistory,jdbcType=VARCHAR},
      </if>
      <if test="hospitalTel != null" >
        hospital_tel = #{hospitalTel,jdbcType=VARCHAR},
      </if>
      <if test="dietCharacteristics != null" >
        diet_characteristics = #{dietCharacteristics,jdbcType=VARCHAR},
      </if>
      <if test="disposition != null" >
        disposition = #{disposition,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null" >
        hobby = #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="specialRequirements != null" >
        special_requirements = #{specialRequirements,jdbcType=VARCHAR},
      </if>
      <if test="abnormalPatterns != null" >
        abnormal_patterns = #{abnormalPatterns,jdbcType=VARCHAR},
      </if>
      <if test="olderState != null" >
        older_state = #{olderState,jdbcType=TINYINT},
      </if>
      <if test="olderLeaveDate != null" >
        older_leave_date = #{olderLeaveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="staffId != null" >
        staff_id = #{staffId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.idea.cjyl.totalmodule.web.domain.pojo.Older" >
    update older
    set organization_login_id = #{organizationLoginId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIGINT},
      check_in_date = #{checkInDate,jdbcType=TIMESTAMP},
      card_id = #{cardId,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      tel = #{tel,jdbcType=VARCHAR},
      month_charge_id = #{monthChargeId,jdbcType=BIGINT},
      census_register = #{censusRegister,jdbcType=VARCHAR},
      belief = #{belief,jdbcType=BIGINT},
      nation = #{nation,jdbcType=BIGINT},
      politics_status = #{politicsStatus,jdbcType=BIGINT},
      self_ingredient = #{selfIngredient,jdbcType=BIGINT},
      take_care_of_oneself = #{takeCareOfOneself,jdbcType=BIGINT},
      mind = #{mind,jdbcType=BIGINT},
      pluse = #{pluse,jdbcType=VARCHAR},
      blood_pressure = #{bloodPressure,jdbcType=VARCHAR},
      allergic_drug = #{allergicDrug,jdbcType=VARCHAR},
      indication_hospital = #{indicationHospital,jdbcType=VARCHAR},
      indication_doctor = #{indicationDoctor,jdbcType=VARCHAR},
      principal_disease = #{principalDisease,jdbcType=VARCHAR},
      diseases_history = #{diseasesHistory,jdbcType=VARCHAR},
      hospital_tel = #{hospitalTel,jdbcType=VARCHAR},
      diet_characteristics = #{dietCharacteristics,jdbcType=VARCHAR},
      disposition = #{disposition,jdbcType=VARCHAR},
      hobby = #{hobby,jdbcType=VARCHAR},
      special_requirements = #{specialRequirements,jdbcType=VARCHAR},
      abnormal_patterns = #{abnormalPatterns,jdbcType=VARCHAR},
      older_state = #{olderState,jdbcType=TINYINT},
      older_leave_date = #{olderLeaveDate,jdbcType=TIMESTAMP},
      staff_id = #{staffId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>