<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idea.cjyl.totalmodule.web.dao.SaivianRememberMapper" >
  <resultMap id="BaseResultMap" type="com.idea.cjyl.totalmodule.web.domain.pojo.SaivianRemember" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="saivian_id" property="saivianId" jdbcType="BIGINT" />
    <result column="saivian_user_name" property="saivianUserName" jdbcType="VARCHAR" />
    <result column="saivian_login_name" property="saivianLoginName" jdbcType="VARCHAR" />
    <result column="saivian_login_password" property="saivianLoginPassword" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="email_pwd" property="emailPwd" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bank_type" property="bankType" jdbcType="TINYINT" />
    <result column="bank_card_num" property="bankCardNum" jdbcType="VARCHAR" />
    <result column="bank_effective_date" property="bankEffectiveDate" jdbcType="VARCHAR" />
    <result column="bind_date" property="bindDate" jdbcType="TIMESTAMP" />
    <result column="saivian_renewal_date" property="saivianRenewalDate" jdbcType="TIMESTAMP" />
    <result column="rebate_open_date" property="rebateOpenDate" jdbcType="TIMESTAMP" />
    <result column="redeem_open_date" property="redeemOpenDate" jdbcType="TIMESTAMP" />
    <result column="arrive_code_date" property="arriveCodeDate" jdbcType="TIMESTAMP" />
    <result column="parent" property="parent" jdbcType="BIGINT" />
    <result column="wage" property="wage" jdbcType="TINYINT" />
    <result column="total_money" property="totalMoney" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="service_user_id" property="serviceUserId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, saivian_id, saivian_user_name, saivian_login_name, saivian_login_password, tel, 
    email, email_pwd, bank_name, bank_type, bank_card_num, bank_effective_date, bind_date, 
    saivian_renewal_date, rebate_open_date, redeem_open_date, arrive_code_date, parent, 
    wage, total_money, remark, service_user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.idea.cjyl.totalmodule.web.domain.pojo.SaivianRememberExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from saivian_remember
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from saivian_remember
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from saivian_remember
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.idea.cjyl.totalmodule.web.domain.pojo.SaivianRememberExample" >
    delete from saivian_remember
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.idea.cjyl.totalmodule.web.domain.pojo.SaivianRemember" useGeneratedKeys="true" keyProperty="id" >
    insert into saivian_remember (saivian_id, saivian_user_name, saivian_login_name, 
      saivian_login_password, tel, email, 
      email_pwd, bank_name, bank_type, 
      bank_card_num, bank_effective_date, bind_date, 
      saivian_renewal_date, rebate_open_date, 
      redeem_open_date, arrive_code_date, parent, 
      wage, total_money, remark, 
      service_user_id)
    values (#{saivianId,jdbcType=BIGINT}, #{saivianUserName,jdbcType=VARCHAR}, #{saivianLoginName,jdbcType=VARCHAR}, 
      #{saivianLoginPassword,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{emailPwd,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, #{bankType,jdbcType=TINYINT}, 
      #{bankCardNum,jdbcType=VARCHAR}, #{bankEffectiveDate,jdbcType=VARCHAR}, #{bindDate,jdbcType=TIMESTAMP}, 
      #{saivianRenewalDate,jdbcType=TIMESTAMP}, #{rebateOpenDate,jdbcType=TIMESTAMP}, 
      #{redeemOpenDate,jdbcType=TIMESTAMP}, #{arriveCodeDate,jdbcType=TIMESTAMP}, #{parent,jdbcType=BIGINT}, 
      #{wage,jdbcType=TINYINT}, #{totalMoney,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{serviceUserId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.idea.cjyl.totalmodule.web.domain.pojo.SaivianRemember" useGeneratedKeys="true" keyProperty="id" >
    insert into saivian_remember
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="saivianId != null" >
        saivian_id,
      </if>
      <if test="saivianUserName != null" >
        saivian_user_name,
      </if>
      <if test="saivianLoginName != null" >
        saivian_login_name,
      </if>
      <if test="saivianLoginPassword != null" >
        saivian_login_password,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="emailPwd != null" >
        email_pwd,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="bankType != null" >
        bank_type,
      </if>
      <if test="bankCardNum != null" >
        bank_card_num,
      </if>
      <if test="bankEffectiveDate != null" >
        bank_effective_date,
      </if>
      <if test="bindDate != null" >
        bind_date,
      </if>
      <if test="saivianRenewalDate != null" >
        saivian_renewal_date,
      </if>
      <if test="rebateOpenDate != null" >
        rebate_open_date,
      </if>
      <if test="redeemOpenDate != null" >
        redeem_open_date,
      </if>
      <if test="arriveCodeDate != null" >
        arrive_code_date,
      </if>
      <if test="parent != null" >
        parent,
      </if>
      <if test="wage != null" >
        wage,
      </if>
      <if test="totalMoney != null" >
        total_money,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="serviceUserId != null" >
        service_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="saivianId != null" >
        #{saivianId,jdbcType=BIGINT},
      </if>
      <if test="saivianUserName != null" >
        #{saivianUserName,jdbcType=VARCHAR},
      </if>
      <if test="saivianLoginName != null" >
        #{saivianLoginName,jdbcType=VARCHAR},
      </if>
      <if test="saivianLoginPassword != null" >
        #{saivianLoginPassword,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="emailPwd != null" >
        #{emailPwd,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null" >
        #{bankType,jdbcType=TINYINT},
      </if>
      <if test="bankCardNum != null" >
        #{bankCardNum,jdbcType=VARCHAR},
      </if>
      <if test="bankEffectiveDate != null" >
        #{bankEffectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="bindDate != null" >
        #{bindDate,jdbcType=TIMESTAMP},
      </if>
      <if test="saivianRenewalDate != null" >
        #{saivianRenewalDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rebateOpenDate != null" >
        #{rebateOpenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="redeemOpenDate != null" >
        #{redeemOpenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="arriveCodeDate != null" >
        #{arriveCodeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="parent != null" >
        #{parent,jdbcType=BIGINT},
      </if>
      <if test="wage != null" >
        #{wage,jdbcType=TINYINT},
      </if>
      <if test="totalMoney != null" >
        #{totalMoney,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="serviceUserId != null" >
        #{serviceUserId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.idea.cjyl.totalmodule.web.domain.pojo.SaivianRememberExample" resultType="java.lang.Integer" >
    select count(*) from saivian_remember
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update saivian_remember
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.saivianId != null" >
        saivian_id = #{record.saivianId,jdbcType=BIGINT},
      </if>
      <if test="record.saivianUserName != null" >
        saivian_user_name = #{record.saivianUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.saivianLoginName != null" >
        saivian_login_name = #{record.saivianLoginName,jdbcType=VARCHAR},
      </if>
      <if test="record.saivianLoginPassword != null" >
        saivian_login_password = #{record.saivianLoginPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null" >
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.emailPwd != null" >
        email_pwd = #{record.emailPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.bankName != null" >
        bank_name = #{record.bankName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankType != null" >
        bank_type = #{record.bankType,jdbcType=TINYINT},
      </if>
      <if test="record.bankCardNum != null" >
        bank_card_num = #{record.bankCardNum,jdbcType=VARCHAR},
      </if>
      <if test="record.bankEffectiveDate != null" >
        bank_effective_date = #{record.bankEffectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="record.bindDate != null" >
        bind_date = #{record.bindDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.saivianRenewalDate != null" >
        saivian_renewal_date = #{record.saivianRenewalDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rebateOpenDate != null" >
        rebate_open_date = #{record.rebateOpenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.redeemOpenDate != null" >
        redeem_open_date = #{record.redeemOpenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.arriveCodeDate != null" >
        arrive_code_date = #{record.arriveCodeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.parent != null" >
        parent = #{record.parent,jdbcType=BIGINT},
      </if>
      <if test="record.wage != null" >
        wage = #{record.wage,jdbcType=TINYINT},
      </if>
      <if test="record.totalMoney != null" >
        total_money = #{record.totalMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceUserId != null" >
        service_user_id = #{record.serviceUserId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update saivian_remember
    set id = #{record.id,jdbcType=BIGINT},
      saivian_id = #{record.saivianId,jdbcType=BIGINT},
      saivian_user_name = #{record.saivianUserName,jdbcType=VARCHAR},
      saivian_login_name = #{record.saivianLoginName,jdbcType=VARCHAR},
      saivian_login_password = #{record.saivianLoginPassword,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      email_pwd = #{record.emailPwd,jdbcType=VARCHAR},
      bank_name = #{record.bankName,jdbcType=VARCHAR},
      bank_type = #{record.bankType,jdbcType=TINYINT},
      bank_card_num = #{record.bankCardNum,jdbcType=VARCHAR},
      bank_effective_date = #{record.bankEffectiveDate,jdbcType=VARCHAR},
      bind_date = #{record.bindDate,jdbcType=TIMESTAMP},
      saivian_renewal_date = #{record.saivianRenewalDate,jdbcType=TIMESTAMP},
      rebate_open_date = #{record.rebateOpenDate,jdbcType=TIMESTAMP},
      redeem_open_date = #{record.redeemOpenDate,jdbcType=TIMESTAMP},
      arrive_code_date = #{record.arriveCodeDate,jdbcType=TIMESTAMP},
      parent = #{record.parent,jdbcType=BIGINT},
      wage = #{record.wage,jdbcType=TINYINT},
      total_money = #{record.totalMoney,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      service_user_id = #{record.serviceUserId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.idea.cjyl.totalmodule.web.domain.pojo.SaivianRemember" >
    update saivian_remember
    <set >
      <if test="saivianId != null" >
        saivian_id = #{saivianId,jdbcType=BIGINT},
      </if>
      <if test="saivianUserName != null" >
        saivian_user_name = #{saivianUserName,jdbcType=VARCHAR},
      </if>
      <if test="saivianLoginName != null" >
        saivian_login_name = #{saivianLoginName,jdbcType=VARCHAR},
      </if>
      <if test="saivianLoginPassword != null" >
        saivian_login_password = #{saivianLoginPassword,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="emailPwd != null" >
        email_pwd = #{emailPwd,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null" >
        bank_type = #{bankType,jdbcType=TINYINT},
      </if>
      <if test="bankCardNum != null" >
        bank_card_num = #{bankCardNum,jdbcType=VARCHAR},
      </if>
      <if test="bankEffectiveDate != null" >
        bank_effective_date = #{bankEffectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="bindDate != null" >
        bind_date = #{bindDate,jdbcType=TIMESTAMP},
      </if>
      <if test="saivianRenewalDate != null" >
        saivian_renewal_date = #{saivianRenewalDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rebateOpenDate != null" >
        rebate_open_date = #{rebateOpenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="redeemOpenDate != null" >
        redeem_open_date = #{redeemOpenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="arriveCodeDate != null" >
        arrive_code_date = #{arriveCodeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="parent != null" >
        parent = #{parent,jdbcType=BIGINT},
      </if>
      <if test="wage != null" >
        wage = #{wage,jdbcType=TINYINT},
      </if>
      <if test="totalMoney != null" >
        total_money = #{totalMoney,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="serviceUserId != null" >
        service_user_id = #{serviceUserId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.idea.cjyl.totalmodule.web.domain.pojo.SaivianRemember" >
    update saivian_remember
    set saivian_id = #{saivianId,jdbcType=BIGINT},
      saivian_user_name = #{saivianUserName,jdbcType=VARCHAR},
      saivian_login_name = #{saivianLoginName,jdbcType=VARCHAR},
      saivian_login_password = #{saivianLoginPassword,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      email_pwd = #{emailPwd,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_type = #{bankType,jdbcType=TINYINT},
      bank_card_num = #{bankCardNum,jdbcType=VARCHAR},
      bank_effective_date = #{bankEffectiveDate,jdbcType=VARCHAR},
      bind_date = #{bindDate,jdbcType=TIMESTAMP},
      saivian_renewal_date = #{saivianRenewalDate,jdbcType=TIMESTAMP},
      rebate_open_date = #{rebateOpenDate,jdbcType=TIMESTAMP},
      redeem_open_date = #{redeemOpenDate,jdbcType=TIMESTAMP},
      arrive_code_date = #{arriveCodeDate,jdbcType=TIMESTAMP},
      parent = #{parent,jdbcType=BIGINT},
      wage = #{wage,jdbcType=TINYINT},
      total_money = #{totalMoney,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      service_user_id = #{serviceUserId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>